#version=RHEL8
# License agreement
eula --agreed
# Use graphical install
graphical
# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=ansible1.lab.com
ignoredisk --only-use=sda
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream
# System bootloader configuration
bootloader --location=none
autopart
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=ansible1.lab.com

# Run the Setup Agent on first boot
firstboot --enable

# System timezone
timezone America/Chicago --isUtc

# Root password
rootpw --iscrypted $6$XZmEqvJZLTYeS4lC$OavjBhOMSorVwIScuNLKSX.V4MpPVJmUTFae6NulS0p6bTWUEUh3qWhBOB7og.AoqfPRlhC5k8S9s5YhmKYOY/
user --groups=wheel --name=el-xander --password=$6$tT0CC2pllrZS3Fbi$axRuGSDLFn7S8MtPZfCvwRA7zX4i3zgQWta1UDYOMccsDXxh.Z/AjhVOEUkQ24ooMvTtYdvXuxatNqrDLn8lL0 --iscrypted --gecos="El-Xander"

%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
